<div class="landing-page container">
    <div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
        <div class="landing-image-cont">
            <div class="landing-image">
                <div class="overlay">
                    <p>
                        <i class="icon ion-flame"></i> Achieve
                    </p>
                </div>
            </div>
        </div>
        
        <p class="landing-text">
            {{'greetingsText' | translate}}
            
            <button class='btn btn-warning btn-block' ng-click="continue()">{{'imIn' | translate}}</button>
            <button class='btn btn-default btn-block'>{{'haveAnAccount' | translate}}</button>
        </p>
    </div>
</div>