<h2 class="page-header">{{title}}</h2>
<profile-nav action='action' uid='uid'></profile-nav>

<table class='table table-striped table-responsive'>
    <tr>
        <th>{{"date" | translate}}</th>
        <th>{{"tasks" | translate}}</th>
        <th>&nbsp;</th>
    </tr>
    <tr ng-repeat="day in calendar">
        <td>{{day.date}}</td>
        <td>
            <a ng-repeat="h in day.history" ng-href="#/task/{{h.task.alias}}" ng-style='{color : h.task.color || h.task.category.color}'>
                <i class="fa fa-2x {{h.task.image || 'fa-image'}}" tooltip="{{h.task.locale[0].title || h.task.title}} : {{h.date}}"></i>
            </a>
            <i ng-if="!day.history.length" class="fa fa-2x fa-close"></i>
        </td>
        <td class="achievement-controls">
            <achv-perform-task init-date="day.timestamp" reload="1"></achv-perform-task>
        </td>
    </tr>
</table>

<button class="btn btn-block btn-primary" ng-click='loadMore()'>{{'loadMore' | translate}}</button>