<style parse-style>
    .custom-buttons .btn-info, 
    .custom-buttons .btn-info:active,
    .custom-buttons .btn-info.active,
    .custom-buttons .btn-info:active:hover,
    .custom-buttons .btn-info.active:hover
    {
        background: {{achievement.color || achievement.category.color}};
        color: {{achievement.bg_color || achievement.category.bg_color}}
    }
    .custom-buttons .btn-link, 
    .custom-buttons .btn-link:active,
    .custom-buttons .btn-link.active,
    .custom-buttons .btn-link:active:hover,
    .custom-buttons .btn-link.active:hover
    {
        color: {{achievement.color || achievement.category.color}}
    }
</style>
<div class="modal-header custom-buttons">
    <h3 class="modal-title">Complete task: {{achievement.task.title}}</h2>
</div>
<div class="modal-body custom-buttons">
    <div class="row">
        <datepicker ng-model="dt" show-weeks="true" class="well well-sm col-md-7 col-md-offset-1"></datepicker>
        <timepicker ng-model="dt" class="col-md-offset-1 col-md-2" hour-step="1" minute-step="1" show-meridian="ismeridian"></timepicker>
    </div>
</div>
<div class="modal-footer custom-buttons">
    <button class="btn btn-default btn-info" ng-click="saveHistory(dt)">Save</button>
    <button class="btn btn-default btn-default" ng-click="dismissHistoryModal()">Cancel</button>
</div>